sample
  div sample
    | Test
    div.name name={ opts.name }
    div.str str={ str }
    div.content content=<yield/>

  input(ref='inputText',onkeyup='{ onInput }',value='{ str }')

  style(type='less')
    include sample.less

  script(type='coffee')
    include sample.coffee
